.body
{
display flex;
background-color : green;

font-size: 3000px; /* Taille de base pour le texte normal */
      
justify-content: center;

}

.div
{

background-color : green;
font-size :200px;

}