<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set the base path, if your app is in a subdirectory, you should replace '/' with the subdirectory path.
    RewriteBase /

    # If the requested filename exists, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, forward the request to index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Deny access to certain directories
<Directory "var">
    Deny from all
</Directory>

<Directory "vendor">
    Deny from all
</Directory>

<FilesMatch "^\.">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Security headers
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>

# Enable gzip compression
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json application/xml
</IfModule>
